<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%ex{4}</pattern>
        </encoder>
    </appender>
    <appender name="JDAPLUG" class="com.jdaplug.consolehandler.Console">
        <encoder>
            <pattern>%ex{4}</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="JDAPLUG" />
     </root>
</configuration>